<style type="text/css">
    #DatMua a {
        clear: both;
        background-color: #ee4d2d;
        color: white;
        width: 120px;
        height: 45px;
        display: block;
        float: right;
        text-align: center;
        padding-top: 10px;
        text-decoration: none;
        font-weight: bold;
        border-radius: 7px;
    }

        #DatMua a:hover {
            background-color: gray;
            color: red;
        }
</style>
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<div>
    <div style="width:40%; float:left; border-left: dotted 1px; border-color: azure">
        <img src="~/Images/@Model.AnhHoa" style="max-width: 450px; border-radius: 7px;" />
    </div>
    <div style="width:60%; float:left; padding: 10px">
        <h4 style="font-weight: bold ">@Model.TenHoa</h4>
        <p style="font-weight: bold">Giá bán: <span style="color:red; font-size:16pt">@Model.GiaBan VNĐ </span></p>
        <p style="text-align:justify"><span style="font-weight:bold">Mô tả: </span>@Model.MoTaHoa</p>
        <div id="DatMua">
            <a href="@Url.Action("ThemGioMuaHang","GioMuaHang",new {@MaHoa = @Model.MaHoa, @strURL=Request.Url.ToString()})">
                Thêm vào giỏ
            </a>
        </div>
    </div>
</div>

