@model ShopHoa.Models.Hoa

@{
    ViewBag.Title = "Edit_SP";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<div class="container">
    <h2>Chỉnh Sửa Sản Phẩm</h2>

    @using (Html.BeginForm("SuaSPThanhCong", "Admin", new { id = Model.MaHoa }, FormMethod.Post))

    {
        @Html.AntiForgeryToken()

        <div class="row">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.MaHoa)

            <div class="form-group col">
                <p>Tên hoa</p>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.TenHoa, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.TenHoa, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group col">
                <p>Mô tả hoa</p>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.MoTaHoa, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.MoTaHoa, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col">
                <p>Giá bán</p>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.GiaBan, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.GiaBan, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group col">
                <p>Số lượng tốn kho</p>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.SoLuongTonKho, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.SoLuongTonKho, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col">
                <p>Mã loại hoa</p>
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.MaLoaiHoa, (IEnumerable<SelectListItem>)ViewBag.MaLoaiHoaList, "Chọn loại hoa", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.MaLoaiHoa, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group col">
                <p>Mã màu</p>
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.MaMau, (IEnumerable<SelectListItem>)ViewBag.MaMauList, "Chọn màu sắc", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.MaMau, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group col">
                <p>Ảnh hoa</p>
                <div class="col-md-10">
                    <input type="file" name="file" />

                    @Html.ValidationMessageFor(model => model.AnhHoa, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-actions no-color">
            <input type="submit" value="Save" class="btn btn-danger" /> |
        </div>

    }

    <div>

        @Html.ActionLink("Back to List", "QL_SanPham", "Admin")
    </div>
</div>
