@model IEnumerable<ShopHoa.Models.KhachHang>

@{
    ViewBag.Title = "QL_KhachHang";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<style>
    table {
        width: 80%;
        margin: auto;
        border-collapse: collapse;
        margin-top: 20px;
    }

    th, td {
        border: 1px solid black;
        padding: 10px;
        text-align: center;
    }

    img {
        max-width: 50px;
        max-height: 50px;
    }

    

    .total-row {
        font-weight: bold;
        text-align: right;
        color: red;
    }

    .form-container {
        border-radius: 10px;
        background-color: #f9f9f9;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        padding: 10px;
        margin-bottom: 10px;
    }

    .thaotac a {
        text-decoration: none;
        color: white;
    }

    .thaotac {
        width: 100px;
    }

    .title {
        font-weight: 700;
    }
</style>
<h2>QUẢN LÝ KHÁCH HÀNG</h2>

<div class="row title" style="text-align: center">
    <div class="col-1">
        Mã đăng ký
    </div>
    <div class="col-2">
        Tên Khách Hàng
    </div>
    <div class="col-2">
        Địa Chỉ
    </div>
    <div class="col-1">
        Số Điện Thoại
    </div>
    <div class="col-2">
        Email
    </div>
    <div class="col-2">
        Thao Tác
    </div>

    @foreach (var item in Model)
    {
        <div class="row form-container" style="text-align: center">
            <div class="col-1">
                @Html.DisplayFor(modelItem => item.MaDangKy)
            </div>
            <div class="col-2">
                @Html.DisplayFor(modelItem => item.TenKhachHang)
            </div>
            <div class="col-2">
                @Html.DisplayFor(modelItem => item.DiaChi)
            </div>
            <div class="col-1">
                @Html.DisplayFor(modelItem => item.SoDienThoai)
            </div>
            <div class="col-2" style="margin-left: 17px">
                @Html.DisplayFor(modelItem => item.Email)
            </div>
            <div class="col-2">
                <button type="button" class="btn btn-primary thaotac">@Html.ActionLink("Sửa", "Edit_KH", new { id = item.MaKhachHang })</button>

                <button type="button" class="btn btn-info thaotac">@Html.ActionLink("Chi tiết", "Details_KH", new { id = item.MaKhachHang })</button>

                <button type="button" class="btn btn-danger thaotac" style="margin-top: 5px">@Html.ActionLink("Xóa", "Delete_KH", new { id = item.MaKhachHang })</button>

            </div>

        </div>
    }




    @*<h2>QUẢN LÝ KHÁCH HÀNG</h2>

        <table class="table">
            <tr>
                <th>
                    <p>Mã đăng ký: </p>
                </th>
                <th>
                    <p>Tên khách hàng: </p>
                </th>
                <th>
                    <p>Địa chỉ: </p>
                </th>
                <th>
                    <p>Số điện thoại: </p>
                </th>
                <th>
                    <p>Email: </p>
                </th>

                <th></th>
            </tr>

        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MaDangKy)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TenKhachHang)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DiaChi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SoDienThoai)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>

                <td>
                    @Html.ActionLink("Edit", "Edit_KH", new { id=item.MaKhachHang }) |
                    @Html.ActionLink("Details", "Details_KH", new { id=item.MaKhachHang }) |
                    @Html.ActionLink("Delete", "Delete_KH", new { id=item.MaKhachHang })
                </td>
            </tr>
        }

        </table>*@
